.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: var(--spacing-32);
  padding-right: var(--spacing-32);
}

.page-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation a {
  --height: 58px;
  height: var(--height);
  line-height: var(--height);
}
